<fm-pivot
 [toolbar]="true"
 [report]="{
   dataSource: {
     type: 'api',
     url: 'http://localhost:9500',
     index: 'flying-etiquette'
   },
   slice: {
     rows: [{
       uniqueName: 'Is it rude to knowingly bring unruly children on a plane?',
       filter: { exclude: [''] }
     }],
     columns: [{
       uniqueName: 'Gender',
       filter: { exclude: [''] }
     },
     {
       uniqueName: '[Measures]'
     }],
     measures: [{
       uniqueName: 'RespondentID',
       aggregation: 'count'
     }]
   }
 }">
</fm-pivot>

<router-outlet />
